<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos | Instituto NOA - Nuestros cursos y capacitaciones</title>
    <!-- SEO -->
    <meta name="keywords"
        content="Información, Noa, Instituto, Cursos, Capacitación, Técnico, Reparación, Secretariado, Administración, Liquidación de Sueldos, Excel, Asistente Paramédico, Asistente Terapéutico, Auxiliar de Farmacia, Barbería, Peluquería, Cosmetología, Técnico en Electricidad, Reparación de Celulares, Reparación de PC.">
    <meta name="description"
        content="NOA es una Institución Educativa nacida en el año 2002. El Staff de NOA dicta cursos y carreras cortas de forma virtual o presencial y semipresencial en las confortables instalaciones de nuestras sedes en las ciudades de San Miguel de Tucumán, Salta, San Salvador de Jujuy, Santiago del Estero y Córdoba.">
    <!-- ICON -->
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- STYLES -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <!-- HEADER -->
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/cropped-Logo-Covid-NOA.png" class="img-fluid logo" alt="Logo instituto NOA">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" href="cursos.html">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" href="contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5 btn-nav" href="aula.html">Aula Virtual</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- HEADER -->

    <main>
        <!-- SECTION DIVIDER CURSOS -->
        <section class="instituto">
            <div class="container">
                <div class="instituto row d-flex align-items-center">
                    <div class="col-lg-12">
                        <h2 class="text-white display-5 fw-bold m-0 p-3">Cursos disponibles</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- SECTION DIVIDER CURSOS -->

        <!-- SECTION CURSOS -->
        <section class="area__salud">
            <div class="container">
                <h3 class="text-center display-5 p-3 m-0 fw-bold">Area Salud</h3>
                <div class="row py-5 text-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="../img/therapeutic assistant.jpg" class="img-fluid img-card" alt="imagen de Asistente Terapéutico">
                            <h4 class="py-3">Asistente Terapéutico</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="../img/pharmacy.jpg" class="img-fluid img-card" alt="imagen de Auxiliar de Farmacia">
                            <h4 class="py-3">Aux. de Farmacia</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="../img/laboratory.jpg" class="img-fluid img-card" alt="imagen de Auxiliar. de Laboratorio">
                            <h4 class="py-3">Aux. de Laboratorio</h4>
                        </div>
                    </div>
                </div>

                <h3 class="text-center display-5 p-3 m-0 fw-bold">Area Belleza</h3>
                <div class="row py-5 text-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="../img/Masoterapia.jpg" class="img-fluid img-card" alt="imagen de persona realizando Masoterapia">
                            <h4 class="py-3">Masoterapia</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="../img/barbero.jpg" class="img-fluid img-card" alt="imagen de barbero realizando corte">
                            <h4 class="py-3">Barbería</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="../img/cosmetologia.jpg" class="img-fluid img-card" alt="imagen de cosmetologa maquillando a una mujer">
                            <h4 class="py-3">Cosmetología</h4>
                        </div>
                    </div>
                </div>

                <h3 class="text-center display-5 p-3 m-0 fw-bold">Area Tenica</h3>
                <div class="row py-5 text-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="../img/electricidad.jpg" class="img-fluid img-card" alt="imagen de un hombre trabajando en electricidad">
                            <h4 class="py-3">Técnico en Electricidad</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="../img/pc.jpg" class="img-fluid img-card" alt="imagen de un hombre reparando una computadora">
                            <h4 class="py-3">Reparación de PC</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="../img/mechanic.jpg" class="img-fluid img-card" alt="imagen de persona reparando un motor">
                            <h4 class="py-3">Electricidad del Automotor</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="foo row">
                <div class="col-lg-6 px-3 d-flex justify-content-center align-items-center py-2">
                    <p class="text-white m-0 text-center fs-5">Todos los derechos reservados &copy; Instituto NOA - 2022
                    </p>
                </div>
                <div class="col-lg-6 px-3 d-flex justify-content-center align-items-center py-2">
                    <a class="fa-brands fa-facebook display-6 px-3 py-2 text-white" href="https://www.facebook.com/"
                        target="_blank"></a>
                    <a class="fa-brands fa-instagram display-6 px-3 py-2 text-white" href="https://www.instagram.com/"
                        target="_blank"></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER -->

    <!-- SCRIPT BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>